/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.app {
  text-align: center;
  padding: 20px;
  font-family: Poppins;
  transition: 0.5s all;
}
.app #header {
  display: flex;
  align-items: center;
  gap: 200px;
  justify-content: center;
}
.app #header .right {
  display: flex;
  align-items: center;
}
.app #header .right nav ul {
  display: inline-flex;
  gap: 32px;
}
.app #header .right nav ul li a {
  color: var(--black-7, rgba(6, 33, 38, 0.6));
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.app #header .right nav ul li a:hover {
  color: var(--e-5661-e, #E5661E);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.app #header .right .button {
  display: inline-flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 350px;
  border: none;
  cursor: pointer;
  margin-bottom: 25px;
  border-radius: 40px;
  background: #24BEE0;
  color: var(--white, #FFF);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.app #main img {
  width: 1920px;
  height: 400px;
  flex-shrink: 0;
}
.app #contact-Us .top h2 {
  color: var(--Primary-Black, #062126);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 112.5%;
}
.app #contact-Us .middle {
  margin-top: 60px;
}
.app #contact-Us .middle .top .left #firstName {
  width: 372px;
  height: 50px;
  font-family: Poppins;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #FCFCFC;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  cursor: pointer;
  margin-right: 32px;
}
.app #contact-Us .middle .top .left #lastName {
  cursor: pointer;
  width: 372px;
  height: 50px;
  font-family: Poppins;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #FCFCFC;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.app #contact-Us .middle .top .rihgt #Email {
  width: 372px;
  height: 50px;
  font-family: Poppins;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #FCFCFC;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  cursor: pointer;
  margin-right: 32px;
}
.app #contact-Us .middle .top .rihgt #PhoneNumber {
  cursor: pointer;
  width: 372px;
  height: 50px;
  font-family: Poppins;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #FCFCFC;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.app #contact-Us .middle .top .right2 #date {
  width: 372px;
  height: 50px;
  font-family: Poppins;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #FCFCFC;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  cursor: pointer;
  margin-right: 32px;
}
.app #contact-Us .middle .top .right2 #dateTime {
  cursor: pointer;
  width: 372px;
  height: 50px;
  font-family: Poppins;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #FCFCFC;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.app #contact-Us .middle .top .bottom22 #text {
  width: 776px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #FCFCFC;
  text-align: center;
}
.app #contact-Us .bottom {
  margin-bottom: 100px;
  margin-top: -450px;
}
.app #contact-Us .bottom h1,
.app #contact-Us .bottom h2 {
  color: #ffff00;
  text-align: center;
  font-weight: 700;
}
.app #contact-Us .bottom .containerButtonBird {
  display: flex;
  justify-content: center;
  height: 500px;
}
.app #contact-Us .bottom .buttonBird {
  width: 300px;
  height: 100px;
  margin-top: 500px;
  font-weight: 600;
  background-color: #ff0000;
  border: 2px solid #61210f;
  border-radius: 0.6em;
  position: relative;
  justify-content: center;
}
.app #contact-Us .bottom .buttonBirdText {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: transparent;
  border: none;
  color: #fff;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.app #contact-Us .bottom .buttonBird:focus,
.app #contact-Us .bottom .buttonBirdText:focus {
  outline: none;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-30 {
  left: 600px;
  top: -550px;
  opacity: 0;
  transition: left 1.5s cubic-bezier(0.42, 0, 0.58, 1), top 1.5s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s linear 1s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-30:after {
  left: 50px;
  top: 50px;
  transition: all 1.5s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-30:before {
  left: -50px;
  top: 50px;
  transition: all 1.5s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird .checkBox {
  position: absolute;
  width: 40px;
  top: 12px;
  display: none;
  opacity: 0;
  fill: #56d600;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif {
  background-color: white;
  transition: all 0.2s linear 0.1s;
  box-shadow: #56d600 0px 10px 20px, #56d600 0px 6px 6px;
  border: 2px solid #56d600;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .buttonBirdText {
  background-color: transparent;
  border: none;
  color: #56d600;
  font-weight: 600;
  animation: text-fade 1.5s 0.2s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .checkBox {
  display: block;
  animation: checkBox-fade 1.5s linear 0.5s forwards;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-20,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-19,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-18,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-21,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-23,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-25,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-30 {
  left: 600px;
  top: -550px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1), top 2s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s linear 1.5s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-5,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-17,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-16,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-15,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-22 {
  left: 600px;
  top: -600px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s, opacity 0.5s linear 1.6s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-14,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-13,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-12,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-24,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-1 {
  left: 650px;
  top: -650px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.15s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.15s, opacity 0.5s linear 1.65s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-11,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-10,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-9,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-26,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-27 {
  left: 650px;
  top: -700px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.2s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.2s, opacity 0.5s linear 1.7s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-8,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-7,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-6,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-28 {
  left: 700px;
  top: -750px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.25s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.25s, opacity 0.5s linear 1.75s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-4,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-29,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-3 {
  left: 750px;
  top: -800px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.3s, top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.3s, opacity 0.5s linear 1.8s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-2 {
  left: 850px;
  top: -850px;
  opacity: 0;
  transition: left 1.5s cubic-bezier(0.42, 0, 0.58, 1) 0.35s, top 1.5s cubic-bezier(0.42, 0, 0.58, 1) 0.35s, opacity 0.5s linear 1.8s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-5:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-4:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-8:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-14:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-16:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-17:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-21:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-30:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-30:before {
  left: 50px;
  top: -100px;
  transition: all 1s cubic-bezier(0.42, 0, 0.58, 1) -0.3s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-4:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-7:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-9:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-12:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-13:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-18:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-27:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-26:before {
  left: -50px;
  top: 0px;
  transition: all 1s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-2:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-1:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-7:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-8:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-15:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-19:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-22:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-28:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-28:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-3:after {
  left: 100px;
  top: -100px;
  transition: all 1s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-2:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-1:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-9:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-12:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-13:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-17:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-19:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-23:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-23:before {
  left: 50px;
  top: -10px;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-6:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-10:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-11:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-16:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-18:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-20:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-24:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-26:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-27:before {
  left: 50px;
  top: 50px;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-3:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-6:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-10:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-11:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-14:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-15:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-20:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-22:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-24:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-25:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-25:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird.actif .bird-5:before {
  left: 100px;
  top: -10px;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.app #contact-Us .bottom .containerButtonBird .bird,
.app #contact-Us .bottom .containerButtonBird .bird:before,
.app #contact-Us .bottom .containerButtonBird .bird:after,
.app #contact-Us .bottom .containerButtonBird .bird-1,
.app #contact-Us .bottom .containerButtonBird .bird-1:after,
.app #contact-Us .bottom .containerButtonBird .bird-1:before,
.app #contact-Us .bottom .containerButtonBird .bird-2,
.app #contact-Us .bottom .containerButtonBird .bird-2:after,
.app #contact-Us .bottom .containerButtonBird .bird-2:before,
.app #contact-Us .bottom .containerButtonBird .bird-3,
.app #contact-Us .bottom .containerButtonBird .bird-3:after,
.app #contact-Us .bottom .containerButtonBird .bird-3:before,
.app #contact-Us .bottom .containerButtonBird .bird-4,
.app #contact-Us .bottom .containerButtonBird .bird-4:after,
.app #contact-Us .bottom .containerButtonBird .bird-4:before,
.app #contact-Us .bottom .containerButtonBird .bird-5,
.app #contact-Us .bottom .containerButtonBird .bird-5:after,
.app #contact-Us .bottom .containerButtonBird .bird-5:before,
.app #contact-Us .bottom .containerButtonBird .bird-6,
.app #contact-Us .bottom .containerButtonBird .bird-6:after,
.app #contact-Us .bottom .containerButtonBird .bird-6:before,
.app #contact-Us .bottom .containerButtonBird .bird-7,
.app #contact-Us .bottom .containerButtonBird .bird-7:after,
.app #contact-Us .bottom .containerButtonBird .bird-7:before,
.app #contact-Us .bottom .containerButtonBird .bird-8,
.app #contact-Us .bottom .containerButtonBird .bird-8:after,
.app #contact-Us .bottom .containerButtonBird .bird-8:before,
.app #contact-Us .bottom .containerButtonBird .bird-9,
.app #contact-Us .bottom .containerButtonBird .bird-9:after,
.app #contact-Us .bottom .containerButtonBird .bird-9:before,
.app #contact-Us .bottom .containerButtonBird .bird-10,
.app #contact-Us .bottom .containerButtonBird .bird-10:after,
.app #contact-Us .bottom .containerButtonBird .bird-10:before,
.app #contact-Us .bottom .containerButtonBird .bird-11,
.app #contact-Us .bottom .containerButtonBird .bird-11:after,
.app #contact-Us .bottom .containerButtonBird .bird-11:before,
.app #contact-Us .bottom .containerButtonBird .bird-12,
.app #contact-Us .bottom .containerButtonBird .bird-12:after,
.app #contact-Us .bottom .containerButtonBird .bird-12:before,
.app #contact-Us .bottom .containerButtonBird .bird-13,
.app #contact-Us .bottom .containerButtonBird .bird-13:after,
.app #contact-Us .bottom .containerButtonBird .bird-13:before,
.app #contact-Us .bottom .containerButtonBird .bird-14,
.app #contact-Us .bottom .containerButtonBird .bird-14:after,
.app #contact-Us .bottom .containerButtonBird .bird-14:before,
.app #contact-Us .bottom .containerButtonBird .bird-15,
.app #contact-Us .bottom .containerButtonBird .bird-15:after,
.app #contact-Us .bottom .containerButtonBird .bird-15:before,
.app #contact-Us .bottom .containerButtonBird .bird-16,
.app #contact-Us .bottom .containerButtonBird .bird-16:after,
.app #contact-Us .bottom .containerButtonBird .bird-16:before,
.app #contact-Us .bottom .containerButtonBird .bird-17,
.app #contact-Us .bottom .containerButtonBird .bird-17:after,
.app #contact-Us .bottom .containerButtonBird .bird-17:before,
.app #contact-Us .bottom .containerButtonBird .bird-18,
.app #contact-Us .bottom .containerButtonBird .bird-18:after,
.app #contact-Us .bottom .containerButtonBird .bird-18:before,
.app #contact-Us .bottom .containerButtonBird .bird-19,
.app #contact-Us .bottom .containerButtonBird .bird-19:after,
.app #contact-Us .bottom .containerButtonBird .bird-19:before,
.app #contact-Us .bottom .containerButtonBird .bird-20,
.app #contact-Us .bottom .containerButtonBird .bird-20:after,
.app #contact-Us .bottom .containerButtonBird .bird-20:before,
.app #contact-Us .bottom .containerButtonBird .bird-21,
.app #contact-Us .bottom .containerButtonBird .bird-21:after,
.app #contact-Us .bottom .containerButtonBird .bird-21:before,
.app #contact-Us .bottom .containerButtonBird .bird-22,
.app #contact-Us .bottom .containerButtonBird .bird-22:after,
.app #contact-Us .bottom .containerButtonBird .bird-22:before,
.app #contact-Us .bottom .containerButtonBird .bird-23,
.app #contact-Us .bottom .containerButtonBird .bird-23:after,
.app #contact-Us .bottom .containerButtonBird .bird-23:before,
.app #contact-Us .bottom .containerButtonBird .bird-24,
.app #contact-Us .bottom .containerButtonBird .bird-24:after,
.app #contact-Us .bottom .containerButtonBird .bird-24:before,
.app #contact-Us .bottom .containerButtonBird .bird-25,
.app #contact-Us .bottom .containerButtonBird .bird-25:after,
.app #contact-Us .bottom .containerButtonBird .bird-25:before,
.app #contact-Us .bottom .containerButtonBird .bird-26,
.app #contact-Us .bottom .containerButtonBird .bird-26:after,
.app #contact-Us .bottom .containerButtonBird .bird-26:before,
.app #contact-Us .bottom .containerButtonBird .bird-27,
.app #contact-Us .bottom .containerButtonBird .bird-27:after,
.app #contact-Us .bottom .containerButtonBird .bird-27:before,
.app #contact-Us .bottom .containerButtonBird .bird-28,
.app #contact-Us .bottom .containerButtonBird .bird-28:after,
.app #contact-Us .bottom .containerButtonBird .bird-28:before,
.app #contact-Us .bottom .containerButtonBird .bird-29,
.app #contact-Us .bottom .containerButtonBird .bird-29:after,
.app #contact-Us .bottom .containerButtonBird .bird-29:before,
.app #contact-Us .bottom .containerButtonBird .bird-30,
.app #contact-Us .bottom .containerButtonBird .bird-30:after,
.app #contact-Us .bottom .containerButtonBird .bird-30:before {
  opacity: 1;
  display: block;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg class='bird' version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 195 71.1' style='enable-background:new 0 0 195 71.1%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23ff0000%3B%7D%3C/style%3E%3Ctitle%3Ebirds%3C/title%3E%3Cg id='b1'%3E%3Cpath class='st0' d='M9.3 40.5c6.1-2.1 12.2-3.6 16.2-2.1s7.9 2.3 11.9 3.8c3 1.1 9.9 1.3 14.6-2.2c2.9-2.1 7.1-4.9 11.7 0c-0.2-1.5-1.5-2.8-1.8-3.8c-0.4-1.4-0.3-2.2-1.8-3.8c-2.2-2.3-5.2-1.6-6.9-1.4c-3.2 0.4-3.5-1.9-2.9-4.4s11.5-22.2 9-24.2C55.9 0 51.6-0.3 47.9 1.3c-5.4 2.5-16.6 15.3-19.5 18.5c-3.6 4-0.1 10.6-0.1 10.6s2.9 4.3-5.4 2.6C17.7 31.8 0 33.7 0 33.7L9.3 40.5z'/%3E%3C/g%3E%3Cg id='b2'%3E%3Cpath class='st0' d='M116.3 30.8c1.8 0.1 5.2-0.7 7 0.1c2 1 2.2 1.7 3.2 2.8c0.7 0.9 2.4 1.6 3.2 2.8c-4.8-2.1-9.6 1.3-10.2 1.8c-1.3 1-2.3 2.4-2.8 4l0 0c-1.5 4-7.7 29.4-9.3 28.4c-2.5-1.5-7.3-4.9-8.6-8.3c-2.2-5.6-2.8-18.3-8.9-22.3C84 36.3 78 35 72.5 37.2s-3.9-1.7-3.9-1.7s20.8-4.1 30.2-5.5S113.3 30.6 116.3 30.8z'/%3E%3C/g%3E%3Cg id='b3'%3E%3Cpath class='st0' d='M186.4 35.2c1.2-0.3 3.2-0.7 8 1.4c-0.8-1.2-2.4-2-3.2-2.8c-0.9-1.1-1.1-1.9-3.2-2.8c-1.7-0.8-5.1 0.1-7-0.1c-3-0.2-8.2-2.3-17.6-0.8s-30.1 5.5-30.1 5.5s-1.7 3.9 3.9 1.7s15.7-2.2 20.6-0.2c2.2 0.8 4.1 2.2 5.6 4c2.2 2.4 4.6 13.5 7.1 15c1.2 0.7 6.1-7 8.7-11.5c2.5 1.7 5.4 3 8.4 3.7c0.5 0.1-2-8.8-3.1-12.3C185.1 35.6 185.7 35.4 186.4 35.2z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: auto 100%;
  width: 60px;
  height: 33px;
  top: 0;
  left: 0;
  animation-name: fly-cycle;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
}
.app #contact-Us .bottom .containerButtonBird .bird-1:after,
.app #contact-Us .bottom .containerButtonBird .bird-1:before,
.app #contact-Us .bottom .containerButtonBird .bird-2:after,
.app #contact-Us .bottom .containerButtonBird .bird-2:before,
.app #contact-Us .bottom .containerButtonBird .bird-4:after,
.app #contact-Us .bottom .containerButtonBird .bird-4:before,
.app #contact-Us .bottom .containerButtonBird .bird-5:after,
.app #contact-Us .bottom .containerButtonBird .bird-5:before,
.app #contact-Us .bottom .containerButtonBird .bird-7:after,
.app #contact-Us .bottom .containerButtonBird .bird-7:before,
.app #contact-Us .bottom .containerButtonBird .bird-8:after,
.app #contact-Us .bottom .containerButtonBird .bird-8:before,
.app #contact-Us .bottom .containerButtonBird .bird-10:after,
.app #contact-Us .bottom .containerButtonBird .bird-10:before,
.app #contact-Us .bottom .containerButtonBird .bird-11:after,
.app #contact-Us .bottom .containerButtonBird .bird-11:before,
.app #contact-Us .bottom .containerButtonBird .bird-13:after,
.app #contact-Us .bottom .containerButtonBird .bird-13:before,
.app #contact-Us .bottom .containerButtonBird .bird-14:after,
.app #contact-Us .bottom .containerButtonBird .bird-14:before,
.app #contact-Us .bottom .containerButtonBird .bird-16:after,
.app #contact-Us .bottom .containerButtonBird .bird-16:before,
.app #contact-Us .bottom .containerButtonBird .bird-17:after,
.app #contact-Us .bottom .containerButtonBird .bird-17:before,
.app #contact-Us .bottom .containerButtonBird .bird-18,
.app #contact-Us .bottom .containerButtonBird .bird-18:after,
.app #contact-Us .bottom .containerButtonBird .bird-18:before,
.app #contact-Us .bottom .containerButtonBird .bird-19,
.app #contact-Us .bottom .containerButtonBird .bird-19:after,
.app #contact-Us .bottom .containerButtonBird .bird-19:before,
.app #contact-Us .bottom .containerButtonBird .bird-20:after,
.app #contact-Us .bottom .containerButtonBird .bird-20:before,
.app #contact-Us .bottom .containerButtonBird .bird-21,
.app #contact-Us .bottom .containerButtonBird .bird-21:after,
.app #contact-Us .bottom .containerButtonBird .bird-21:before,
.app #contact-Us .bottom .containerButtonBird .bird-22,
.app #contact-Us .bottom .containerButtonBird .bird-22:after,
.app #contact-Us .bottom .containerButtonBird .bird-22:before,
.app #contact-Us .bottom .containerButtonBird .bird-23,
.app #contact-Us .bottom .containerButtonBird .bird-23:after,
.app #contact-Us .bottom .containerButtonBird .bird-23:before,
.app #contact-Us .bottom .containerButtonBird .bird-24,
.app #contact-Us .bottom .containerButtonBird .bird-24:after,
.app #contact-Us .bottom .containerButtonBird .bird-24:before,
.app #contact-Us .bottom .containerButtonBird .bird-25,
.app #contact-Us .bottom .containerButtonBird .bird-25:after,
.app #contact-Us .bottom .containerButtonBird .bird-25:before,
.app #contact-Us .bottom .containerButtonBird .bird-26,
.app #contact-Us .bottom .containerButtonBird .bird-26:after,
.app #contact-Us .bottom .containerButtonBird .bird-26:before,
.app #contact-Us .bottom .containerButtonBird .bird-27,
.app #contact-Us .bottom .containerButtonBird .bird-27:after,
.app #contact-Us .bottom .containerButtonBird .bird-27:before,
.app #contact-Us .bottom .containerButtonBird .bird-28,
.app #contact-Us .bottom .containerButtonBird .bird-28:after,
.app #contact-Us .bottom .containerButtonBird .bird-28:before,
.app #contact-Us .bottom .containerButtonBird .bird-29,
.app #contact-Us .bottom .containerButtonBird .bird-29:after,
.app #contact-Us .bottom .containerButtonBird .bird-29:before,
.app #contact-Us .bottom .containerButtonBird .bird-30,
.app #contact-Us .bottom .containerButtonBird .bird-30:after,
.app #contact-Us .bottom .containerButtonBird .bird-30:before {
  width: 30px;
  height: 33px;
  top: -8px;
  left: 8px;
  z-index: -100;
}
.app #contact-Us .bottom .containerButtonBird .bird-21,
.app #contact-Us .bottom .containerButtonBird .bird-22,
.app #contact-Us .bottom .containerButtonBird .bird-23,
.app #contact-Us .bottom .containerButtonBird .bird-24,
.app #contact-Us .bottom .containerButtonBird .bird-25,
.app #contact-Us .bottom .containerButtonBird .bird-26,
.app #contact-Us .bottom .containerButtonBird .bird-27,
.app #contact-Us .bottom .containerButtonBird .bird-28,
.app #contact-Us .bottom .containerButtonBird .bird-29 {
  top: 0;
}
.app #contact-Us .bottom .containerButtonBird .bird-22,
.app #contact-Us .bottom .containerButtonBird .bird-25,
.app #contact-Us .bottom .containerButtonBird .bird-28 {
  top: 25px;
}
.app #contact-Us .bottom .containerButtonBird .bird-23,
.app #contact-Us .bottom .containerButtonBird .bird-26,
.app #contact-Us .bottom .containerButtonBird .bird-29 {
  top: 45px;
}
.app #contact-Us .bottom .containerButtonBird .bird-24,
.app #contact-Us .bottom .containerButtonBird .bird-25,
.app #contact-Us .bottom .containerButtonBird .bird-26 {
  left: 133px;
}
.app #contact-Us .bottom .containerButtonBird .bird-27,
.app #contact-Us .bottom .containerButtonBird .bird-28,
.app #contact-Us .bottom .containerButtonBird .bird-29 {
  left: 256px;
}
.app #contact-Us .bottom .containerButtonBird .bird-18 {
  top: 0;
  left: 0;
}
.app #contact-Us .bottom .containerButtonBird .bird-18:after,
.app #contact-Us .bottom .containerButtonBird .bird-18:before {
  left: -20px;
}
.app #contact-Us .bottom .containerButtonBird .bird-19:after,
.app #contact-Us .bottom .containerButtonBird .bird-19:before {
  left: -10px;
}
.app #contact-Us .bottom .containerButtonBird .bird-1:before,
.app #contact-Us .bottom .containerButtonBird .bird-4:before,
.app #contact-Us .bottom .containerButtonBird .bird-7:before,
.app #contact-Us .bottom .containerButtonBird .bird-10:before,
.app #contact-Us .bottom .containerButtonBird .bird-13:before,
.app #contact-Us .bottom .containerButtonBird .bird-16:before,
.app #contact-Us .bottom .containerButtonBird .bird-19:before {
  top: 18px;
}
.app #contact-Us .bottom .containerButtonBird .bird-2:after,
.app #contact-Us .bottom .containerButtonBird .bird-5:after,
.app #contact-Us .bottom .containerButtonBird .bird-8:after,
.app #contact-Us .bottom .containerButtonBird .bird-11:after,
.app #contact-Us .bottom .containerButtonBird .bird-14:after,
.app #contact-Us .bottom .containerButtonBird .bird-17:after,
.app #contact-Us .bottom .containerButtonBird .bird-20:after {
  top: -18px;
  left: 12px;
}
.app #contact-Us .bottom .containerButtonBird .bird-20:after,
.app #contact-Us .bottom .containerButtonBird .bird-20:before,
.app #contact-Us .bottom .containerButtonBird .bird-21:after {
  left: 27px;
}
.app #contact-Us .bottom .containerButtonBird .bird-2:before,
.app #contact-Us .bottom .containerButtonBird .bird-5:before,
.app #contact-Us .bottom .containerButtonBird .bird-8:before,
.app #contact-Us .bottom .containerButtonBird .bird-11:before,
.app #contact-Us .bottom .containerButtonBird .bird-14:before,
.app #contact-Us .bottom .containerButtonBird .bird-17:before,
.app #contact-Us .bottom .containerButtonBird .bird-20:before {
  top: -36px;
  left: 12px;
}
.app #contact-Us .bottom .containerButtonBird .bird-21:before,
.app #contact-Us .bottom .containerButtonBird .bird-22:before,
.app #contact-Us .bottom .containerButtonBird .bird-23:before,
.app #contact-Us .bottom .containerButtonBird .bird-24:before,
.app #contact-Us .bottom .containerButtonBird .bird-25:before,
.app #contact-Us .bottom .containerButtonBird .bird-26:before {
  top: 10px;
  left: 45px;
}
.app #contact-Us .bottom .containerButtonBird .bird-21:after,
.app #contact-Us .bottom .containerButtonBird .bird-22:after,
.app #contact-Us .bottom .containerButtonBird .bird-23:after,
.app #contact-Us .bottom .containerButtonBird .bird-24:after,
.app #contact-Us .bottom .containerButtonBird .bird-25:after,
.app #contact-Us .bottom .containerButtonBird .bird-26:after,
.app #contact-Us .bottom .containerButtonBird .bird-27:after,
.app #contact-Us .bottom .containerButtonBird .bird-28:after,
.app #contact-Us .bottom .containerButtonBird .bird-29:after {
  left: 10px;
  top: 4px;
}
.app #contact-Us .bottom .containerButtonBird .bird-27:before,
.app #contact-Us .bottom .containerButtonBird .bird-28:before,
.app #contact-Us .bottom .containerButtonBird .bird-29:before {
  left: -45px;
  top: 10px;
}
.app #contact-Us .bottom .containerButtonBird .bird:before,
.app #contact-Us .bottom .containerButtonBird .bird:after,
.app #contact-Us .bottom .containerButtonBird .bird-1:after,
.app #contact-Us .bottom .containerButtonBird .bird-1:before,
.app #contact-Us .bottom .containerButtonBird .bird-2:before,
.app #contact-Us .bottom .containerButtonBird .bird-2:after,
.app #contact-Us .bottom .containerButtonBird .bird-3:after,
.app #contact-Us .bottom .containerButtonBird .bird-3:before,
.app #contact-Us .bottom .containerButtonBird .bird-4:after,
.app #contact-Us .bottom .containerButtonBird .bird-4:before,
.app #contact-Us .bottom .containerButtonBird .bird-5:after,
.app #contact-Us .bottom .containerButtonBird .bird-5:before,
.app #contact-Us .bottom .containerButtonBird .bird-6:after,
.app #contact-Us .bottom .containerButtonBird .bird-6:before,
.app #contact-Us .bottom .containerButtonBird .bird-7:after,
.app #contact-Us .bottom .containerButtonBird .bird-7:before,
.app #contact-Us .bottom .containerButtonBird .bird-8:after,
.app #contact-Us .bottom .containerButtonBird .bird-8:before,
.app #contact-Us .bottom .containerButtonBird .bird-9:after,
.app #contact-Us .bottom .containerButtonBird .bird-9:before,
.app #contact-Us .bottom .containerButtonBird .bird-10:after,
.app #contact-Us .bottom .containerButtonBird .bird-10:before,
.app #contact-Us .bottom .containerButtonBird .bird-11:after,
.app #contact-Us .bottom .containerButtonBird .bird-11:before,
.app #contact-Us .bottom .containerButtonBird .bird-12:after,
.app #contact-Us .bottom .containerButtonBird .bird-12:before,
.app #contact-Us .bottom .containerButtonBird .bird-13:after,
.app #contact-Us .bottom .containerButtonBird .bird-13:before,
.app #contact-Us .bottom .containerButtonBird .bird-14:after,
.app #contact-Us .bottom .containerButtonBird .bird-14:before,
.app #contact-Us .bottom .containerButtonBird .bird-15:after,
.app #contact-Us .bottom .containerButtonBird .bird-15:before,
.app #contact-Us .bottom .containerButtonBird .bird-16:after,
.app #contact-Us .bottom .containerButtonBird .bird-16:before,
.app #contact-Us .bottom .containerButtonBird .bird-17:after,
.app #contact-Us .bottom .containerButtonBird .bird-17:before,
.app #contact-Us .bottom .containerButtonBird .bird-18:after,
.app #contact-Us .bottom .containerButtonBird .bird-18:before,
.app #contact-Us .bottom .containerButtonBird .bird-19:after,
.app #contact-Us .bottom .containerButtonBird .bird-19:before,
.app #contact-Us .bottom .containerButtonBird .bird-20:after,
.app #contact-Us .bottom .containerButtonBird .bird-20:before,
.app #contact-Us .bottom .containerButtonBird .bird-21:after,
.app #contact-Us .bottom .containerButtonBird .bird-21:before,
.app #contact-Us .bottom .containerButtonBird .bird-22:after,
.app #contact-Us .bottom .containerButtonBird .bird-22:before,
.app #contact-Us .bottom .containerButtonBird .bird-23:after,
.app #contact-Us .bottom .containerButtonBird .bird-23:before,
.app #contact-Us .bottom .containerButtonBird .bird-24:after,
.app #contact-Us .bottom .containerButtonBird .bird-24:before,
.app #contact-Us .bottom .containerButtonBird .bird-25:after,
.app #contact-Us .bottom .containerButtonBird .bird-25:before,
.app #contact-Us .bottom .containerButtonBird .bird-26:after,
.app #contact-Us .bottom .containerButtonBird .bird-26:before,
.app #contact-Us .bottom .containerButtonBird .bird-27:after,
.app #contact-Us .bottom .containerButtonBird .bird-27:before,
.app #contact-Us .bottom .containerButtonBird .bird-28:after,
.app #contact-Us .bottom .containerButtonBird .bird-28:before,
.app #contact-Us .bottom .containerButtonBird .bird-29:after,
.app #contact-Us .bottom .containerButtonBird .bird-29:before,
.app #contact-Us .bottom .containerButtonBird .bird-30:after,
.app #contact-Us .bottom .containerButtonBird .bird-30:before {
  content: "";
}
.app #contact-Us .bottom .containerButtonBird .bird:before,
.app #contact-Us .bottom .containerButtonBird .bird-3:before,
.app #contact-Us .bottom .containerButtonBird .bird-12:before,
.app #contact-Us .bottom .containerButtonBird .bird-15:before,
.app #contact-Us .bottom .containerButtonBird .bird-6:before,
.app #contact-Us .bottom .containerButtonBird .bird-9:before,
.app #contact-Us .bottom .containerButtonBird .bird-18:before {
  top: 10px;
}
.app #contact-Us .bottom .containerButtonBird .bird:after,
.app #contact-Us .bottom .containerButtonBird .bird-6:after,
.app #contact-Us .bottom .containerButtonBird .bird-12:after,
.app #contact-Us .bottom .containerButtonBird .bird-15:after,
.app #contact-Us .bottom .containerButtonBird .bird-9:after,
.app #contact-Us .bottom .containerButtonBird .bird-18:after {
  top: 35px;
}
.app #contact-Us .bottom .containerButtonBird .bird-3:after {
  left: -10px;
}
.app #contact-Us .bottom .containerButtonBird .bird-3:after {
  top: 40px;
}
.app #contact-Us .bottom .containerButtonBird .bird-1,
.app #contact-Us .bottom .containerButtonBird .bird-4,
.app #contact-Us .bottom .containerButtonBird .bird-7,
.app #contact-Us .bottom .containerButtonBird .bird-10,
.app #contact-Us .bottom .containerButtonBird .bird-13,
.app #contact-Us .bottom .containerButtonBird .bird-16,
.app #contact-Us .bottom .containerButtonBird .bird-19 {
  top: 25px;
}
.app #contact-Us .bottom .containerButtonBird .bird-2 {
  top: 45px;
}
.app #contact-Us .bottom .containerButtonBird .bird-5 {
  top: 47px;
  left: 25px;
}
.app #contact-Us .bottom .containerButtonBird .bird-8,
.app #contact-Us .bottom .containerButtonBird .bird-11,
.app #contact-Us .bottom .containerButtonBird .bird-14,
.app #contact-Us .bottom .containerButtonBird .bird-17,
.app #contact-Us .bottom .containerButtonBird .bird-20 {
  top: 50px;
}
.app #contact-Us .bottom .containerButtonBird .bird-3,
.app #contact-Us .bottom .containerButtonBird .bird-4 {
  left: 59px;
}
.app #contact-Us .bottom .containerButtonBird .bird-6,
.app #contact-Us .bottom .containerButtonBird .bird-7,
.app #contact-Us .bottom .containerButtonBird .bird-8 {
  left: 118px;
}
.app #contact-Us .bottom .containerButtonBird .bird-9,
.app #contact-Us .bottom .containerButtonBird .bird-10,
.app #contact-Us .bottom .containerButtonBird .bird-11 {
  left: 177px;
}
.app #contact-Us .bottom .containerButtonBird .bird-12,
.app #contact-Us .bottom .containerButtonBird .bird-13,
.app #contact-Us .bottom .containerButtonBird .bird-14 {
  left: 236px;
}
.app #contact-Us .bottom .containerButtonBird .bird-15,
.app #contact-Us .bottom .containerButtonBird .bird-16,
.app #contact-Us .bottom .containerButtonBird .bird-17 {
  left: 206.5px;
}
.app #contact-Us .bottom .containerButtonBird .bird-20 {
  left: 108px;
}
.app #contact-Us .bottom .containerButtonBird .bird-18,
.app #contact-Us .bottom .containerButtonBird .bird-19 {
  left: 137.5px;
}
.app #contact-Us .bottom .containerButtonBird .bird-30,
.app #contact-Us .bottom .containerButtonBird .bird-30:after,
.app #contact-Us .bottom .containerButtonBird .bird-30:before {
  left: 118px;
  top: 0;
}
.app #contact-Us .bottom .containerButtonBird .bird-30:before {
  top: 25px;
}
.app #contact-Us .bottom .containerButtonBird .bird-30:after {
  top: 20px;
}
.app #contact-Us .bottom .containerButtonBird .actif .bird,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird,
.app #contact-Us .bottom .containerButtonBird .actif .bird:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-3,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-3,
.app #contact-Us .bottom .containerButtonBird .actif .bird-4,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-4,
.app #contact-Us .bottom .containerButtonBird .actif .bird-4:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-4:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-4:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-4:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-9,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-9,
.app #contact-Us .bottom .containerButtonBird .actif .bird-9:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-9:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-13,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-13,
.app #contact-Us .bottom .containerButtonBird .actif .bird-13:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-13:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-13:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-13:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-15,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-15,
.app #contact-Us .bottom .containerButtonBird .actif .bird-16,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-16,
.app #contact-Us .bottom .containerButtonBird .actif .bird-18,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-18,
.app #contact-Us .bottom .containerButtonBird .actif .bird-21,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-21,
.app #contact-Us .bottom .containerButtonBird .actif .bird-21:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-21:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-27:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-27:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-24,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-24,
.app #contact-Us .bottom .containerButtonBird .actif .bird-24:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-24:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-24:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-24:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-27,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-27,
.app #contact-Us .bottom .containerButtonBird .actif .bird-27:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-27:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-27:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-27:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-30:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-30:before {
  animation-duration: 0.5s;
  animation-delay: -0.5s;
}
.app #contact-Us .bottom .containerButtonBird .actif .bird-1,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-1,
.app #contact-Us .bottom .containerButtonBird .actif .bird-1:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-1:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-3:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-3:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-5,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-5,
.app #contact-Us .bottom .containerButtonBird .actif .bird-5:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-5:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-5:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-5:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-7,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-7,
.app #contact-Us .bottom .containerButtonBird .actif .bird-7:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-7:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-7:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-7:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-9:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-9:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-10,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-10,
.app #contact-Us .bottom .containerButtonBird .actif .bird-10:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-10:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-10:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-10:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-14,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-14,
.app #contact-Us .bottom .containerButtonBird .actif .bird-14:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-14:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-14:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-14:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-17,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-17,
.app #contact-Us .bottom .containerButtonBird .actif .bird-17:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-17:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-17:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-17:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-19,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-19,
.app #contact-Us .bottom .containerButtonBird .actif .bird-19:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-19:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-19:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-19:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-18:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-18:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-22,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-22,
.app #contact-Us .bottom .containerButtonBird .actif .bird-22:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-22:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-22:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-22:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-25,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-25,
.app #contact-Us .bottom .containerButtonBird .actif .bird-25:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-25:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-25:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-25:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-28,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-28,
.app #contact-Us .bottom .containerButtonBird .actif .bird-28:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-28:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-28:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-28:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-30:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-30:after {
  animation-duration: 0.7s;
  animation-delay: -0.5s;
}
.app #contact-Us .bottom .containerButtonBird .actif .bird:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-1:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-1:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-2,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-2,
.app #contact-Us .bottom .containerButtonBird .actif .bird-2:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-2:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-2:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-2:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-3:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-3:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-6,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-6,
.app #contact-Us .bottom .containerButtonBird .actif .bird-6:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-6:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-6:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-6:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-8,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-8,
.app #contact-Us .bottom .containerButtonBird .actif .bird-8:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-8:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-8:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-8:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-11,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-11,
.app #contact-Us .bottom .containerButtonBird .actif .bird-11:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-11:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-11:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-11:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-12,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-12,
.app #contact-Us .bottom .containerButtonBird .actif .bird-12:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-12:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-12:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-12:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-16,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-16,
.app #contact-Us .bottom .containerButtonBird .actif .bird-16:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-16:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-16:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-16:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-20,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-20,
.app #contact-Us .bottom .containerButtonBird .actif .bird-20:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-20:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-20:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-20:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-18:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-18:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-23,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-23,
.app #contact-Us .bottom .containerButtonBird .actif .bird-23:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-23:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-23:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-23:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-26,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-26,
.app #contact-Us .bottom .containerButtonBird .actif .bird-26:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-26:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-26:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-26:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-29,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-29,
.app #contact-Us .bottom .containerButtonBird .actif .bird-29:after,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-29:after,
.app #contact-Us .bottom .containerButtonBird .actif .bird-29:before,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-29:before,
.app #contact-Us .bottom .containerButtonBird .actif .bird-30,
.app #contact-Us .bottom .containerButtonBird .buttonBird:hover .bird-30 {
  animation-duration: 0.6s;
  animation-delay: -0.75s;
}
@keyframes fly-cycle {
  100% {
    background-position: -360px 0;
  }
}
@keyframes text-fade {
  0% {
    color: transparent;
    opacity: 0;
    top: -50%;
    left: auto;
  }
  100% {
    color: #56d600;
    opacity: 1;
  }
}
@keyframes checkBox-fade {
  0% {
    top: -500px;
    opacity: 0;
  }
  5% {
    transform: rotate(10deg);
    left: 30%;
    opacity: 1;
  }
  50% {
    transform: rotate(-5deg);
    left: 45%;
  }
  75% {
    transform: rotate(10deg);
    left: 32%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
    bottom: 0px;
    left: 43%;
  }
}
.app #footer {
  margin-top: 200px;
  text-align: center;
}
.app #footer .top {
  display: flex;
  gap: 120px;
  justify-content: space-evenly;
}
.app #footer .top .div1 .social-menu {
  display: flex;
  justify-content: center;
}
.app #footer .top .div1 .social-btn {
  list-style: none;
  width: 60px;
  height: 60px;
  background: #4e4040;
  margin: 15px;
  border-radius: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px -5px rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
  z-index: 10px;
}
.app #footer .top .div1 .social-btn a {
  text-decoration: none;
  color: #fff;
}
.app #footer .top .div1 .social-btn:hover a {
  color: #fff;
}
.app #footer .top .div1 .social-menu .social-btn::before {
  content: attr(tooltip);
  position: absolute;
  top: 0;
  font-size: 0.9em;
  font-weight: bold;
  z-index: -1;
  opacity: 0;
  pointer-events: auto;
  background: #4e4040;
  padding: 10px;
  color: #000;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}
.app #footer .top .div1 .social-menu .social-btn::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  opacity: 0;
  background: #4e4040;
  transform: rotate(45deg);
  left: 20%;
  z-index: -2;
  transition: all 0.3s ease-out;
}
.app #footer .top .div1 .social-menu .social-btn:hover::before {
  top: -45px;
  opacity: 1;
}
.app #footer .top .div1 .social-btn:hover::after {
  top: -12px;
  opacity: 1;
}
.app #footer .top .div1 .facebook a {
  color: #3b5999;
}
.app #footer .top .div1 .facebook:hover,
.app #footer .top .div1 .facebook:hover .social-btn:before,
.app #footer .top .div1 .facebook:hover .social-btn:after {
  background: #3b5999;
}
.app #footer .top .div1 .instagram a {
  color: #962fbf;
}
.app #footer .top .div1 .instagram:hover,
.app #footer .top .div1 .instagram:hover .social-btn:before,
.app #footer .top .div1 .instagram:hover .social-btn:after {
  background: #962fbf;
}
.app #footer .top .div1 .pinterest a {
  color: #c8232c;
}
.app #footer .top .div1 .pinterest:hover,
.app #footer .top .div1 .pinterest:hover .social-btn:before,
.app #footer .top .div1 .pinterest:hover .social-btn:after {
  background: #c8232c;
}
.app #footer .top .div1 .linkedin a {
  color: #0072b1;
}
.app #footer .top .div1 .linkedin:hover,
.app #footer .top .div1 .linkedin:hover .social-btn:before,
.app #footer .top .div1 .linkedin:hover .social-btn:after {
  background: #0072b1;
}
.app #footer .top .div2 {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}
.app #footer .top .div2 .h2 {
  text-align: start;
  color: var(--Primary-Black, #062126);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.app #footer .top .div2 p {
  text-align: start;
  color: var(--black-7, rgba(6, 33, 38, 0.6));
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}
.app #footer .top .div3 {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}
.app #footer .top .div3 .h2 {
  color: var(--Primary-Black, #062126);
  font-family: Poppins;
  font-size: 24px;
  text-align: start;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.app #footer .top .div3 p {
  color: var(--black-7, rgba(6, 33, 38, 0.6));
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  text-align: start;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}
.app #footer .top .div4 .h2 {
  color: var(--Primary-Black, #062126);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.app #footer .top .div4 p {
  color: var(--black-7, rgba(6, 33, 38, 0.6));
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 171.857%;
  width: 300.934px;
  text-align: start;
}
.app #footer .top .div4 a {
  color: inherit;
}
.app #footer .top .div4 a:hover {
  color: #7f8ff4;
}
.app #footer .top .div4 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app #footer .top .div4 .uppercase {
  text-transform: uppercase;
}
.app #footer .top .div4 .btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.app #footer .top .div4 .btn--primary {
  background: #7f8ff4;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
}
.app #footer .top .div4 .btn--primary:hover {
  background: #6c7ff2;
}
.app #footer .top .div4 .btn--primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.app #footer .top .div4 .btn--inside {
  margin-left: -96px;
}
.app #footer .top .div4 .form__field {
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}
.app #footer .middle {
  width: 1180px;
  height: 1px;
  background: rgba(6, 33, 38, 0.1);
  margin: auto;
  margin-top: 40px;
}
.app #footer .bottom {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 50px;
  cursor: pointer;
}
.app #footer .bottom pp {
  color: var(--black-5, rgba(6, 33, 38, 0.4));
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.app #footer .bottom p {
  color: var(--black-5, rgba(6, 33, 38, 0.4));
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-left: 400px;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */